<!--部分テンプレートで呼び出したいが、うまくいかない-->
<%= flash[:notice] %>

<div class="container">
<div class="row">

<%= render 'user', book: @book, user: @user %>

<div class="col-md-8 offset-md-1">
<h1>Books</h1>
<table class="table">
<thead>
<tr>
     <td colspan="1"></td>
     <td>Title</td>
     <td>Opinion</td>
</tr>
</thead>

<tbody>
<% @books.each do |b| %>
<tr>
      <td>
      <%= link_to user_path(b.user.id) do %>
      <%= image_tag b.user.get_profile_image %>
      <% end %>
      </td>

      <td>
      <%= link_to book_path(b.id) do %>
      <%= b.title %>
      <% end %>
      </td>

      <td>
      <%= b.body %>
      </td>
</tr>
<% end %>

</tbody>
</table>
</div>
</div>
</div>