<%= flash[:notice] %>
<div class="container">

<% if @book.errors.any? %>
  <h3><%= @book.errors.count %> errors prohibited this obj from being saved:</h3>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
  <% end %>

<% end %>

<div class="row">

<%= render 'book', book: @book, user: current_user %>
<!--部分テンプレを呼び出しをしている-->

<div class="col-md-8 offset-md-1 mt-4">
<h2>Books</h2>
<table class="table">
  <thead>
    <tr>
    <th scope="col" colspan="1"></th>
      <th scope="col">Title</th>
      <th scope="col">Opinion</th>
    </tr>
  </thead>
  <tbody>
<% @books.each do |b| %>
    <tr>
    <td><%= link_to user_path(b.user.id) do %>
    <%= image_tag b.user.get_profile_image(100, 100) %>
    <% end %>
    </td>
    <td>
    <%= link_to book_path(b.id) do %>
    <%= b.title %>
    <% end %>
    </td>
    <td><%= b.body %></td>
    </tr>
    <% end %>
</tbody>
</table>
</div>
</div>
</div>