<h1>Books</h1>
<table class="table">
  <thead>
    <tr>
    <th scope="col" colspan="1"></th>
      <th scope="col">Title</th>
      <th scope="col">Opinion</th>
    </tr>
  </thead>
  <tbody>
<% @books.each do |b| %>
    <tr>
    <td><%= image_tag b.get_image %></td>

    <td>
    <%= link_to book_path(b.id) do %>
    <%= b.title %>
    <% end %>
    </td>

    <td><%= b.body %></td>
    </tr>
    <% end %>
</tbody>
</table>


<h1>New Book</h1>
　　<%= form_with model: @book do |f| %>
    <h4>Title</h4>
      <%= f.text_field :title %>
    <h4>Opinion</h4>
      <%= f.text_area :body %><br/>
      <%= f.submit 'Create Book' %>
 <% end %>
